<main class="container">
  <h1>Your account</h1>
  <h2>Box user name: </h2>
  {{ name }}
  <h2>Box User id: </h2>
  {{ id }}
  <section style="margin-top: 20px">
    <a class="btn btn-primary" href="/logout">Logout</a>
  </section>
</main>